@mixin navItem() {
  a {
    &:link,
    &:visited {
      text-decoration: none;
      color: $color1;
      transition: color 0.2s, font-weight 0.2s;
      &:hover,
      &.active {
        color: $color2;
        font-weight: 800;
      }
    }
  }
}

header {
  .container {
    height: 754px;
    display: flex;
    flex-direction: column;
  }
  nav {
    // height: 60px;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      align-self: center;
      list-style: none;
      width: 375px;
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      text-align: center;
      margin: 0 20rem 0 0;
      font-size: 89%;
      line-height: 160%;
      li {
        @include navItem()
        // a {
        //   &:link,
        //   &:visited {
        //     text-decoration: none;
        //     color: $color1;
        //     transition: color 0.2s, font-weight 0.2s;
        //     &:hover,
        //     &.active {
        //       color: $color2;
        //       font-weight: 800;
        //     }
        //   }
        // }
      }
    }
  }
  .hero-text-box {
    width: 645px;
    margin: auto 0;
    // display: flex;
    // flex-direction: column;
    p {
      margin: 50px 0;
      width: 380px;
      color: $color1;
      line-height: 160%;
    }
  }
  .heroImage {
    position: relative;
    width: 885px;
    // height: 468px;
    top: -475px;
    left: 400px;
  }
}
