/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

.col:first-child {
  margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  zoom: 1;
  /* For IE 6/7 */
}

/*  GRID OF TWELVE  */
.span_12_of_12 {
  width: 100%;
}

.span_11_of_12 {
  width: 91.53%;
}

.span_10_of_12 {
  width: 83.06%;
}

.span_9_of_12 {
  width: 74.6%;
}

.span_8_of_12 {
  width: 66.13%;
}

.span_7_of_12 {
  width: 57.66%;
}

.span_6_of_12 {
  width: 49.2%;
}

.span_5_of_12 {
  width: 40.73%;
}

.span_4_of_12 {
  width: 32.26%;
}

.span_3_of_12 {
  width: 23.8%;
}

.span_2_of_12 {
  width: 15.33%;
}

.span_1_of_12 {
  width: 6.866%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
  .col {
    margin: 1% 0 1% 0%;
  }
  .span_1_of_12, .span_2_of_12, .span_3_of_12, .span_4_of_12, .span_5_of_12, .span_6_of_12, .span_7_of_12, .span_8_of_12, .span_9_of_12, .span_10_of_12, .span_11_of_12, .span_12_of_12 {
    width: 100%;
  }
}

header .container {
  height: 754px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .navContainer {
  padding-top: 15px;
  padding-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .navContainer .logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

header .navContainer .main-nav {
  -ms-grid-row-align: center;
      align-self: center;
  list-style: none;
  width: 375px;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: (minmax(0, 1fr))[4];
      grid-template-columns: repeat(4, minmax(0, 1fr));
  text-align: center;
  font-size: 89%;
  line-height: 160%;
}

header .navContainer .main-nav.active {
  display: block !important;
  text-align: right;
}

header .navContainer .main-nav li a:link, header .navContainer .main-nav li a:visited {
  text-decoration: none;
  color: #4B5D68;
  -webkit-transition: color 0.2s, font-weight 0.2s;
  transition: color 0.2s, font-weight 0.2s;
}

header .navContainer .main-nav li a:link:hover, header .navContainer .main-nav li a:link.active, header .navContainer .main-nav li a:visited:hover, header .navContainer .main-nav li a:visited.active {
  color: #212353;
  font-weight: 800;
}

header .sticky {
  position: fixed;
  top: 0%;
  left: 0;
  width: 100%;
  background-color: rgba(245, 245, 245, 0.973);
  -webkit-box-shadow: 0 2px 2px #ececec;
          box-shadow: 0 2px 2px #ececec;
  z-index: 9999;
}

header .remainingHeader {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

header .hero-text-box {
  width: 645px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  justify-self: flex-start;
}

header .hero-text-box p {
  margin: 50px 0;
  width: 380px;
  color: #4B5D68;
  line-height: 160%;
}

header .heroImage {
  position: absolute;
  width: 885px;
  top: 365px;
  left: 375px;
}

.section-intro {
  width: 1117px;
  height: 560px;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 92px;
}

.section-intro img {
  position: relative;
  left: -15%;
}

.section-features {
  text-align: center;
}

.section-features .topP {
  width: 584px;
  text-align: center;
  margin: 0 auto 40px auto;
}

.section-features .featureCard {
  margin: 27px 0;
  height: 358px;
  padding: 6% 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-size: 78%;
  background-position: right;
  border-radius: 50px;
}

.section-features .featureCard .featureImg {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 0;
}

.section-features .featureCard .featureText {
  margin-left: 40px;
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 0;
}

.section-features .featureCard:nth-of-type(1) {
  background-image: url("../img/rectangle39.svg");
}

.section-features .featureCard:nth-of-type(2) {
  background-image: url("../img/rectangle40.svg");
}

.section-features .featureCard:nth-of-type(3) {
  background-image: url("../img/rectangle41.svg");
  margin-left: 0;
  clear: both;
}

.section-features .featureCard:nth-of-type(4) {
  background-image: url("../img/rectangle42.svg");
}

.section-features .featureCard p {
  margin-bottom: 30px;
}

.section-features .featureCard .learnLink {
  display: inline-block;
  text-decoration: none;
  font-size: 90%;
  font-weight: 500;
  color: #212353;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.section-features .featureCard .learnLink img {
  position: relative;
  top: -1px;
  vertical-align: middle;
  height: 16px;
  margin-left: 10px;
}

.section-features .featureCard .learnLink:hover, .section-features .featureCard .learnLink:active {
  color: #9C69E2;
}

.section-testimonials {
  background: #9C69E2;
  border-radius: 50px;
  height: 709px;
}

.section-testimonials h2 {
  padding-top: 109px;
  color: #fff;
  padding-left: 93px;
}

.section-testimonials .carousel {
  background: #eee;
}

.section-testimonials .carousel-scope {
  width: 100%;
  overflow: hidden;
  height: 500px;
}

.section-testimonials .carousel-cell {
  width: 775px;
  height: 330px;
  margin-right: 20px;
  background: #f7f7f7;
  border-radius: 60px;
  padding: 60px 70px 90px 70px;
}

.section-testimonials .carousel-cell:last-child {
  margin-right: 500px;
}

.section-testimonials .carousel-cell ul {
  margin-top: 30px;
}

.section-testimonials .carousel-cell li {
  list-style: none;
}

.section-testimonials .carousel-cell li:first-child {
  font-weight: 900;
  font-size: 110%;
}

.section-testimonials .carousel-cell p {
  margin: 25px 10px 30px 0;
}

.section-testimonials .carousel-cell img {
  border-radius: 50%;
  height: 120px;
}

.section-testimonials .carousel-cell:before {
  display: block;
}

.section-testimonials .flickity-viewport {
  -webkit-transform: translateX(95px);
          transform: translateX(95px);
}

.section-testimonials .flickity-button {
  top: 400px;
  -webkit-transform: translateX(-90px);
          transform: translateX(-90px);
  color: white;
  background: transparent;
}

.section-testimonials .flickity-button:hover {
  background: transparent;
}

.section-testimonials .flickity-prev-next-button {
  -webkit-transform: none;
  transform: none;
  text-align: right;
  margin-right: 50px;
  z-index: 101;
}

.section-testimonials .flickity-prev-next-button.previous {
  left: auto;
  right: 60px;
  z-index: 101;
}

.section-testimonials .flickity-page-dots {
  padding-left: 93px;
  top: 413px;
  text-align: left;
  z-index: 101;
}

.section-testimonials .flickity-page-dots .dot {
  background: white;
  opacity: 1;
}

.section-testimonials .flickity-page-dots .is-selected {
  background: #F063B8;
}

.overlay {
  position: relative;
  height: 100%;
}

.overlay:before {
  z-index: 100;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(156, 105, 226, 0)), color-stop(70%, rgba(156, 105, 226, 0)), color-stop(80%, rgba(156, 105, 226, 0.2)), to(#9c69e2));
  background-image: linear-gradient(left, rgba(156, 105, 226, 0) 0%, rgba(156, 105, 226, 0) 70%, rgba(156, 105, 226, 0.2) 80%, #9c69e2 100%);
  border-radius: 50px;
  content: "\00a0";
  height: 100%;
  position: absolute;
  width: 100%;
}

footer {
  padding: 100px 0 !important;
}

footer .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .top .btn-full:link, footer .top .btn-full:visited {
  background-color: #F063B8;
}

footer .top .btn-full:link:hover, footer .top .btn-full:visited:hover {
  background-color: #d85fa8;
}

footer .bottom {
  padding-top: 200px;
}

footer .bottom .brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 900;
  font-size: 111%;
}

footer .bottom .brand .logo {
  margin-right: 15px;
}

footer .bottom .address {
  padding: 67px 0 10px 0;
  line-height: 180%;
}

footer .bottom .footerAddress {
  list-style: none;
  font-weight: 400;
  line-height: 180%;
}

footer .bottom .linkHeader {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 90%;
}

footer .bottom li {
  list-style: none;
  line-height: 250%;
  font-weight: 400;
}

footer .bottom li a:link, footer .bottom li a:visited {
  text-decoration: none;
  color: #4B5D68;
  -webkit-transition: color 0.2s, font-weight 0.2s;
  transition: color 0.2s, font-weight 0.2s;
}

footer .bottom li a:link:hover, footer .bottom li a:link.active, footer .bottom li a:visited:hover, footer .bottom li a:visited.active {
  color: #212353;
  font-weight: 800;
}

footer .bottom .socialLinks li {
  display: inline-block;
  list-style: none;
  background: rgba(33, 35, 83, 0.1);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  text-align: center;
  vertical-align: middle;
  margin-right: 14px;
  content: "";
}

/* Big tablet to 1308 (width smaller than the 1140 pixel row) */
@media only screen and (max-width: 1308px) {
  .row {
    padding: 0 2%;
  }
  header nav ul {
    margin-right: 5rem;
  }
  .heroImage {
    width: 600px !important;
    top: 350px !important;
    left: 475px !important;
  }
}

@media only screen and (max-width: 1166px) {
  .heroImage {
    width: 600px !important;
    left: 385px !important;
  }
}

/* Small tablet to big tablet: 768 to 1023px */
@media only screen and (max-width: 1023px) {
  body {
    font-size: 16px !important;
  }
  section {
    padding: 60px 0 !important;
  }
  h1 {
    font-size: 350% !important;
  }
  .hero-text-box {
    width: 475px !important;
  }
  .heroImage {
    width: 400px !important;
    left: 420px !important;
  }
  .section-intro {
    top: -250px !important;
  }
}

@media only screen and (max-width: 854px) {
  .heroImage {
    width: 375px !important;
    top: 400px !important;
    left: 375px !important;
  }
}

/* SMALL PHONES to small tables: from 481 to 767px */
@media only screen and (max-width: 767px) {
  body {
    font-size: 15px !important;
  }
  .col {
    width: 100%;
    margin: 0 0 4% 0;
  }
  h1 {
    font-size: 250% !important;
  }
  header .container {
    height: 600px;
  }
  header nav ul {
    gap: 0 !important;
    padding: 10px 0;
    margin-right: unset;
    display: block;
    width: unset;
  }
  header nav ul li {
    font-size: 120%;
  }
  header nav .btn:link, header nav .btn:visited {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
  }
  header nav .btn:link img, header nav .btn:visited img {
    height: 15px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
  header nav .btn-ghost {
    padding: 5px 30px !important;
  }
  header nav .main-nav {
    -webkit-transition: height 0.25s ease;
    transition: height 0.25s ease;
    overflow: hidden;
  }
  header nav .main-nav:not(.active) {
    display: none;
  }
  header nav .main-nav.active {
    width: unset;
  }
  header nav .mobile-nav-icon {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav .mobile-nav-icon img {
    width: 34px;
  }
  .remainingHeader {
    margin-top: -150px !important;
  }
  .hero-text-box,
  .hero-text-box p {
    width: 100% !important;
  }
  .heroImage {
    width: 400px !important;
    top: 450px !important;
    left: 15% !important;
    margin: auto;
  }
  .section-intro {
    top: -130px !important;
  }
}

/* SMALL PHONES: from 0 to 480px */
@media only screen and (max-width: 480px) {
  .heroImage {
    width: 290px !important;
    left: 7% !important;
    top: 500px !important;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  background: -webkit-gradient(linear, left top, left bottom, from(#f6fafd), color-stop(19.4%, #fff));
  background: linear-gradient(180deg, #f6fafd 0%, #fff 19.4%);
  color: #4B5D68;
  text-rendering: optimizeLegibility;
  font-size: 18px;
  line-height: 160%;
}

.row {
  max-width: 1248px;
  margin: 0 auto;
}

.section {
  padding: 80px 0;
}

hr {
  height: 2px;
  background-color: rgba(156, 105, 226, 0.2);
  border: none;
}

h1,
h2,
h3 {
  font-family: Helvetica;
  color: #212353;
  font-size: 135%;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 445%;
  line-height: 110%;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 222%;
  line-height: 130%;
  margin-bottom: 30px;
}

h3 {
  margin-bottom: 30px;
  font-weight: 400;
}

.btn:link, .btn:visited {
  display: inline-block;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 50px;
  -webkit-transition: border 0.2s, background-color 0.2s;
  transition: border 0.2s, background-color 0.2s;
  font-size: 89%;
  font-weight: 500;
}

.btn-full:link, .btn-full:visited {
  background-color: #9C69E2;
  color: #fff;
}

.btn-full:hover, .btn-full:active {
  background-color: #6f4aa3;
}

.btn-ghost:link, .btn-ghost:visited {
  -webkit-box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
          box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  color: #212353;
}

.btn-ghost:link img, .btn-ghost:visited img {
  vertical-align: middle;
  height: 18px;
  margin-left: 10px;
  -webkit-transform: scale(-1);
          transform: scale(-1);
}

.btn-ghost:hover, .btn-ghost:active {
  background-color: rgba(197, 197, 197, 0.2);
}

a:link, a:visited {
  color: #9C69E2;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

a:hover, a:active {
  color: #4B5D68;
}

.logo {
  width: 49px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.logo .rectangle1 {
  position: relative;
  background: #9C69E2;
  border-radius: 20px;
  width: 20px;
  height: 20px;
}

.logo .rectangle2 {
  position: relative;
  border-radius: 20px;
  content: "";
  background: #F063B8;
  width: 20px;
  height: 35px;
}

.forwardArrow {
  -webkit-transform: scale(-1);
          transform: scale(-1);
}
/*# sourceMappingURL=style.css.map */